name: AWE Swapper Build and Test validation

on: [pull_request]

jobs:
  build-backend:
    name: Build & test swapper stateless contract
    runs-on: ubuntu-latest

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9.9

    - name: Set up Poetry
      uses: abatilo/actions-poetry@v2.1.4
      with:
          poetry-version: 1.1.6

    - name: Install python dependencies
      run: poetry install

    - name: Run pytest & coverage
      run: |
        poetry run coverage run -m pytest
        poetry run coverage xml

    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
