name: AWE Swapper Build and Test validation

on: [push, pull_request]

jobs:
  build-backend:
    name: Build & test swapper stateless contract
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.9.8

    - name: Set up Poetry
      uses: abatilo/actions-poetry@v2.1.0
      with:
          poetry-version: 1.1.6

    - name: Install python dependencies
      run: poetry install

    - uses: pre-commit/action@v2.0.3
      name: "Linters and formatters check"
      with:
        extra_args: --all-files --show-diff-on-failure

    - name: Clone algorand sanbox
      run: cd .. && git clone https://github.com/algorand/sandbox.git

    - name: Run algorand sandbox
      shell: 'script -q -e -c "bash {0}"' # hacky hack to maky TTY work
      run: cd ../sandbox && ./sandbox up -v

    - name: Delay before testing
      run: sleep 10

    - name: Run pytest
      run: poetry run pytest
