name: Quality Check

on:
    pull_request:
        branches:
            - "main"

jobs:
    build-contracts:
        name: Build & test swapper stateless contract
        runs-on: ubuntu-latest

        steps:
            - name: Cancel Previous Runs
              uses: styfle/cancel-workflow-action@0.11.0
              with:
                  access_token: ${{ secrets.GITHUB_TOKEN }}

            - uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: 3.10.4

            - name: Set up Poetry
              uses: abatilo/actions-poetry@v2.3.0
              with:
                  poetry-version: 1.5.1

            - name: Install python dependencies
              run: poetry install

            - name: Run pytest & coverage
              run: |
                  poetry run coverage run -m pytest
                  poetry run coverage xml

            - name: "Upload coverage to Codecov"
              uses: codecov/codecov-action@v4
              with:
                  fail_ci_if_error: true
