name: CI

on:
    pull_request:
        branches:
            - "*"
    push:
        branches:
            - "main"

jobs:
    Quality:
        name: Build & test swapper stateless contract
        runs-on: ubuntu-latest

        steps:
            - name: Cancel Previous Runs
              uses: styfle/cancel-workflow-action@0.9.1
              with:
                  access_token: ${{ secrets.GITHUB_TOKEN }}

            - uses: actions/checkout@v3

            # - name: Set up Python
            #   uses: actions/setup-python@v4
            #   with:
            #       python-version: 3.10.4

            # - name: Set up Poetry
            #   uses: abatilo/actions-poetry@v2.1.4
            #   with:
            #       poetry-version: 1.1.13

            # - name: Install python dependencies
            #   run: poetry install

            # - name: Run pytest & coverage
            #   run: |
            #       poetry run coverage run -m pytest
            #       poetry run coverage xml

            # - name: "Upload coverage to Codecov"
            #   uses: codecov/codecov-action@v3
            #   with:
            #       fail_ci_if_error: true

            # - name: Build and publish to pypi
            #   if: github.ref == 'refs/heads/main'
            #   uses: JRubics/poetry-publish@v1.11
            #   with:
            #     pypi_token: ${{ secrets.PYPI_TOKEN }}
            - name: Semantic Release
              run: |
                pip install python-semantic-release
                git config user.name github-actions
                git config user.email github-actions@github.com
                semantic-release publish
